*
!.gitignore

!hdl
!hdl/package
!hdl/package/*.sv
!hdl/source
!hdl/source/*.sv
!hdl/testbench
!hdl/testbench/*.sv

!CycloneV_StarterKit_Leds7_Project
!CycloneV_StarterKit_Leds7_Project/*.qpf
!CycloneV_StarterKit_Leds7_Project/*.qsf
!CycloneV_StarterKit_Leds7_Project/*.qws

